.edit-body {
    height: 100vh;
    padding-left: 500px;
    padding-right: 500px;
}

.form-body {
    border: 1px solid black;
    position: relative;
    top: 25vh;
    padding: 20px;
    border-radius: 20px;
}

.update-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-pic-btn {
    color: rgb(88, 118, 255);
    cursor: pointer;
    transition: .3s;
    text-align: center;
}

.update-pic-btn:hover {
    color: darkblue;
}

.update-pic>* {
    text-align: center;
}

.info-inputs {
    display: flex;
    justify-content: center;
}

.info-label {
    float: left;
}

.edit-input {
    width: 20vw;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    transition: .3s;
}

.edit-input:hover {
    border-color: lightgray;
}

.edit-bio {
    height: 80px;
    margin: 0;
}
