.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.photonest-nav-label {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--splash-green) 0%, var(--splash-blue) 21.8%, var(--splash-purple) 35.6%, var(--splash-purple) 52.9%, var(--splash-blue) 66.8%, var(--splash-blue) 90%, var(--splash-green) 99.7%);
    background-clip: text;
    color: transparent;
    /* display: block; */
}
