nav {
    position: fixed;
    width: 100vw;
    background-color: white;
    box-shadow: 1px 1px 20px -5px rgb(0, 0, 0);
    z-index: 1;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--splash-green) 0%, var(--splash-blue) 21.8%, var(--splash-purple) 35.6%, var(--splash-purple) 52.9%, var(--splash-blue) 66.8%, rgba(61, 241, 254, 0.509) 90%, rgba(254, 211, 252, 0.517) 99.7%);
    /* height: 100vh; */
}

.photonest-nav-label {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 0%;
    text-shadow: rgb(0, 0, 0) 5px 8px 11px;
    text-decoration: none;
}

.fa-navbar {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    transition: .3s;

}

.fa-navbar:hover {
    color: black;
    -webkit-text-stroke: 1px white;

}

.logout-btn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}
