.indie-post-div {
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    animation: fadeIn .3s;
}



.username-post-display>* {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    position: relative;
    left: 10px;
}

/* .img-link {} */

.profile-pic-home {
    border-radius: 100%;
    object-fit: cover;
}

.username-display {
    font-size: 12px;
    position: relative;
    top: 7px;
    color: var(--blue-theme);
    font-weight: bold;
    text-decoration: none;
}

.delete-post-div {
    float: right;
    margin-right: 30px;
    margin-top: 7px;
}

.fa-trash {
    color: rgb(235, 235, 235);
    -webkit-text-stroke: 1px gray;
    font-size: 18px;
    transition: .3s;
}

.fa-trash:hover {
    color: lightgray;
    -webkit-text-stroke: 1px gray;
    transition: .3s;
}

.username-on-caption {
    font-size: 12px;
    position: relative;
    color: var(--blue-theme);
    font-weight: bold;
    text-decoration: none;
    margin-right: 3px;
}

.edit-cap-div {
    display: flex;
    flex-direction: column;

}

.icon-btns>* {
    float: left;
    font-size: 25px;
    margin: 10px;
}

.fa-heart,
.fa-comment {
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    transition: .3s;
}

.fa-heart:hover,
.fa-comment:hover {
    -webkit-text-stroke: 2px rgb(125, 125, 125);
}

.edit-cap-btn {
    font-size: 12px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    color: var(--blue-theme);
    animation: fadeIn .5s;
}

.edit-cap-btn:hover {
    font-weight: bold;
}

.caption-display {
    float: left;
    margin-left: 5px;
    inline-size: 480px;
    overflow-wrap: break-word;
    animation: fadeIn .5s;
}

.caption-text {
    font-size: 12px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    text-align: start;
}

.edit-post-div {
    display: flex;
    flex-direction: column;
    animation: fadeIn .3s;
}

.edit-cap-input {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-top: 10px; */
    border-radius: 10px;
    resize: none;
    border: 1px solid lightgray;
}

.below-edit-div {
    display: flex;
    justify-content: space-between;
}

.char-count {
    font-size: 14px;
    margin-left: 15px;
    margin-top: 3px;
}

.update-btn-divs>* {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
    float: right;
    padding-right: 10px;
    font-size: 12px;
    transition: .2s;
}

.update-btn-divs>*:hover {
    color: var(--splash-blue);
}

.view-comment {
    font-size: 14px;
    color: gray;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.view-comment:hover {
    color: rgb(157, 157, 157);
}

.leave-comment-div {
    margin-top: 10px;
    padding-top: 10px;
}

.leave-com-input-div {
    display: flex;
    flex-direction: row;
}

.leave-com-input {
    height: 20px;
    resize: both;
    overflow: hidden;
    width: 100%;
    border: 1px solid transparent;
}

.leave-com-input:focus {
    outline: none;
}

.post-comment-btn {
    background: transparent;
    border: none;
    color: var(--blue-theme);
    margin-right: 5px;
    transition: .3s;
    font-family: 'Raleway';
    font-weight: bold;
}

.post-disabled {
    color: #7474748e;
    transition: .2s;
}

.created-at-div {
    margin-top: 10px;
}

.created-at {
    float: left;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(166, 166, 166);
}


@keyframes slideIn {
    0% {
        transform: translateY(400px);
        animation-timing-function: ease-out;
    }

    60% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }

    80% {
        transform: translateY(10px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.delete-confirmation-div {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    animation: slideIn .3s, fadeIn .1s linear;
}

.delete-confirmation-div>* {
    margin: 5px;
}

.confirmation-action-div {
    background-color: rgba(0, 0, 0, 0.401);
    border: 1px solid white
}

.confirmation-action-div>* {
    margin-top: 75px;
}

.delete-btn {
    background-color: rgb(255, 94, 94);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Raleway';
    transition: .2s;
    border: 1px solid white;
}

.delete-btn:hover {
    background-color: rgb(181, 0, 0);
    border-color: gray;
}

.cancel-btn {
    margin-top: 5px;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Raleway';
    transition: .2s;
    border: 1px solid black
}

.cancel-btn:hover {
    background-color: gray;
    color: white;
    border-color: white;
}





/*  */
