.new-post-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--splash-green) 0%, var(--splash-blue) 21.8%, var(--splash-purple) 35.6%, var(--splash-purple) 52.9%, var(--splash-blue) 66.8%, rgba(61, 241, 254, 0.509) 90%, rgba(254, 211, 252, 0.517) 99.7%); */
    /* background-color: white; */
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);

    border-radius: 10px;
    animation: slideIn .5s, fadeIn .1s;
}

#actual-image-preview {
    width: 400px;
    max-height: 45vh;
    transition: .5s;
}

#select-file-button {
    background-color: #2f2f2f;
    cursor: pointer;
    padding: 10px;
    padding-left: 115px;
    padding-right: 115px;
    /* border-radius: 5px; */
    color: white;
    transition: .2s;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;

}

#select-file-button:hover {
    background-color: rgb(74, 74, 102);
}

#select-file-button:active {
    background-color: rgb(47, 47, 64);
}


.img-upload {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.img-file {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    color: rgb(0, 145, 255);
}

.caption-textarea {
    width: 96.6%;
    height: 80px;
    border-left: 1px white solid;
    border-right: 1px white solid;
    resize: none;
}

.caption-textarea:focus {
    outline: none;
}

.new-post-btn {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', 'sans-serif';
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    width: 100%;
    background-color: #6699CC;
    color: #f1f1f1;
    transition: .3s;
    border-right: none;
    border-left: none;
    margin-bottom: 20px;
}

.new-post-btn:hover {
    background-color: #0867c6
}


/* LOADING BAR */
