.new-post-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--splash-green) 0%, var(--splash-blue) 21.8%, var(--splash-purple) 35.6%, var(--splash-purple) 52.9%, var(--splash-blue) 66.8%, rgba(61, 241, 254, 0.509) 90%, rgba(254, 211, 252, 0.517) 99.7%);
    border-radius: 10px;
    padding: 20px;
    animation: slideIn .5s, fadeIn .1s;
}

.new-post-div>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

#image-preview {
    border: 1px white solid;
}

.img-upload {
    text-align: center;
}

.url-input {
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

.caption-textarea {
    width: 95%;
    height: 80px;
    border-radius: 10px;
}

.new-post-btn {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}
