body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');
}

:root {
    --blue-theme: #0C74FF;
    --purple-theme: #FE44FF;
    --green-theme: #0DB901;

    --splash-blue: #0c75ff8c;
    --splash-purple: #ff44ff88;
    --splash-green: #0db90188;
}
