/* .home-page-div {
    text-align: center;
} */

.posts-suggestions-div {
    display: flex;
    justify-content: center;
}

.suggestions-scroll-div {
    position: relative;
    left: 350px;
}

@media screen and (max-width: 800px) {
    .suggestions-div {
        display: none;
    }

    .posts-suggestions-div {
        position: relative;
        left: 15vw;
    }


}
