/* ACTUALLY IN SPLASH PAGE FILE */
.login-signup-div {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, var(--splash-green) 0%, var(--splash-blue) 21.8%, var(--splash-purple) 35.6%, var(--splash-blue) 52.9%, var(--splash-blue) 66.8%, rgba(61, 241, 254, 0.509) 90%, rgba(254, 211, 252, 0.517) 99.7%);
    height: 100vh;
    animation: fadeIn .3s;
}

.btn-div {
    text-align: center;
}


.demo-btn {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', 'sans-serif';
    border: 1px solid rgba(211, 219, 254, 0.517);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--splash-blue);
    color: white;
    transition: .3s;
}

.demo-btn:hover {
    border-color: rgb(69, 54, 184);
    background-color: var(--blue-theme);
}


/*  */

.splash-left-right-div {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
}

.splash-left-right-div>* {
    margin-left: 40px;
    margin-right: 40px;
}

.displayed {
    display: block;
}

.not-displayed {
    display: none;
}

.form-div {
    background-color: var(--transparent-white);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    width: 320px;
    padding-bottom: 5px;
}

.sign-up-form {
    position: relative;
    bottom: 50px;
    text-align: center;
}

.login-form {
    position: relative;
    top: 60px;
}

.photonest-label {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: rgb(0, 0, 0) 5px 8px 12px;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: text;
}

.splash-input-div {
    display: flex;
}

.splash-input {
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    border: 2px solid lightgray;
    width: 100%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
    transition: .3s;
}

.splash-input:hover {
    border-color: white;
}

.splash-input::placeholder {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.form-btn {
    margin-top: 5px;
}

.sign-up-btn {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', 'sans-serif';
    border: 1px solid rgba(254, 211, 252, 0.517);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--splash-green);
    color: white;
    transition: .3s;
}

.sign-up-btn:hover {
    border-color: rgb(31, 179, 78);
    background-color: var(--green-theme);
}

.login-btn {
    font-size: 20px;
    padding: 5px;
    font-family: 'Raleway', 'sans-serif';
    border: 1px solid rgba(254, 211, 252, 0.517);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--splash-green);
    color: white;
    transition: .3s;
}

.login-btn:hover {
    border-color: rgb(31, 179, 78);
    background-color: var(--green-theme);
}

.switch-form-btn-div {
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.bottom-q {
    margin-left: 5px;
    font-size: 15px;
}

.switch-form-btn {
    background-color: transparent;
    border: none;
    color: var(--splash-blue);
    font-size: 15px;
    transition: .3s;
    font-weight: bold;
    font-family: 'Raleway', 'sans-serif';
}

.switch-form-btn:hover {
    color: var(--blue-theme);
}

@keyframes imageSlide {
    0% {
        background-image: url("./Photoleap.png");
    }

    10% {
        background-image: url("./Photoleap1.png");
    }

    20% {
        background-image: url("./Photoleap2.png");
    }

    30% {
        background-image: url("./Photoleap.png");
    }

    40% {
        background-image: url("./Photoleap1.png");
    }

    50% {
        background-image: url("./Photoleap2.png");
    }

    60% {
        background-image: url("./Photoleap.png");
    }

    70% {
        background-image: url("./Photoleap1.png");
    }

    80% {
        background-image: url("./Photoleap2.png");
    }
}

.splash-left {
    background-image: url("./Photoleap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: imageSlide 30s ease-in infinite 10s;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.3)));

}
